@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


:root {
    --theme-spacing: 10px;
    --primary-color: #f05d5d;
    --primary-color-darker: rgb(222, 35, 35);
    --background-color: #EAF2EF;
    --secondary-color: #2b6cb5;
    --secondary-color-darker: rgb(27, 53, 111);
    --text-color: #fff;
    --font-family: 'Concert One', cursive;
    --normal-font-size: 20px;
    --large-font-size: 30px;
}

body {
    background: var(--background-color);
    font-family: var(--font-family);
    text-transform: capitalize;
    font-weight: 400;
}

.waiting-screen,
.modal-container {
    display: none;
}

.waiting-screen.is-visible,
#modal-container.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 0 auto;
    box-sizing: border-box;
    color: var(--text-color);

    /* to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.waiting-screen {
    z-index: 10000;
}

.waiting-screen h1 {
    font-size: var(--large-font-size);
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    color: var(--text-color);
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(27, 53, 111, 0.97);
    box-shadow: 0 4px 4px rgba(0,0,0, 0.9);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    z-index: 2;
    overflow-x: hidden;
}

.navbar-brand {
    margin-left: 10px;
    width: 100%;
    height: 55px;
    text-align: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.pokemon-logo {
    height: 100%;
}

a:visited {
    color: var(--text-color);
}

p {
    font-size: var(--normal-font-size);
}

form {
    width: 100%;
}

.search-bar {
    margin: 100px 0 0 20px;
    width: 90%;
}

#searchbox {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: 'Concert One', cursive;
    height: 30px;
    width: 200px;
    border-radius: 3px;
    font-size: var(--normal-font-size);
}

.btn-group {
    vertical-align: top;
    z-index: 1;
}

.btn.filter,
.btn.clear-filter,
.btn-danger {
    padding: 0;
    vertical-align: baseline;
    z-index: 1;
}

#search-button,
#clear-filter-button,
.dropdown-toggle {
    font-family: 'Concert One', cursive;
    font-size: var(--normal-font-size);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    height: 35px;
    width: 260px;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
}

#search-button:hover,
#clear-filter-button:hover,
.dropdown-toggle:hover {
    background-color: var(--secondary-color-darker);
}

.show>.btn-danger.dropdown-toggle {
    background-color: var(--secondary-color-darker);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):focus,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    background-color: var(--secondary-color-darker);
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(27, 53, 111, .5);
}

#pokemon-type__dropdown {
    text-align: center;
    background-color: var(--secondary-color);
    font-size: var(--normal-font-size);
}

a:not([href]):not([tabindex]) {
    color: var(--text-color);
}

a.dropdown-item__active {
    background-color: var(--secondary-color-darker);
}

.pokemon-list {
    width: 100%;
    list-style: none;
    padding-inline-start: 0px;
    margin: var(--theme-spacing) auto;
    text-align: center;
}

.list__item {
    display: inline-block;
    width: 30%;
    color: var(--text-color);
    min-height: auto;
    padding: 10px var(--theme-spacing);
}

.list-group-item {
    background-color: var(--secondary-color-darker);
    border: 0;
    margin: 0;
    padding: 5px;
    font-size: var(--normal-font-size);
}

.no-results {
    color: var(--secondary-color-darker);
    font-size: var(--normal-font-size);
}

.pokemon-tile {
    display: flex;
    font-family: var(--font-family);
    font-size: var(--large-font-size);
    background-color: var(--primary-color);
    text-transform: capitalize;
    width: 100%;
    height: 100px;
    border: none;
    color: var(--text-color);
    transition: background-color 0.2s ease-in-out;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.pokemon-title--modal,
.height-title,
.types-title {
    border-radius: 3px;
}

.pokemon-tile:hover,
.pokemon-tile:focus,
.pokemon-tile:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--primary-color-darker);
    box-shadow: 0 0 0 0.2rem rgba(222, 35, 35, .5);
    outline:none;
}

.pokemon-list--image {
    position: relative;
    margin: 0 10px 0 auto;
    height: 80%;
    max-width: 75px;
}

.modal-content {
    text-align: center;
    background-color: var(--secondary-color-darker);
    box-shadow: none;
    box-shadow: 0 5px 10px #000;
}

.pokemon-image {
    width: 50%;
    max-height: 180px;
    filter: drop-shadow(0 1px 5px rgb(0 0 0));
}

button.close {
    position: absolute;
    right: 15px;
}

.modal-body {
    color: var(--text-color);
}

.modal-title,
.height-title,
.types-title {
    background-color: var(--primary-color);
    margin: 30px;
    text-align: center;
    box-shadow: 0 1px 5px #000;
    color:#000;
}

.modal-title {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.height-title,
.types-title {
    height: 40px;
    line-height: 40px;
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: 100%;
    }
    
    .list__item {
        width: 50%;
    }

    .search-bar {
        margin:100px 0 0 0px;
        width: 100%;
    }

    #searchbox,
    #search-button,
    #clear-filter-button,
    .dropdown-toggle,
    .btn-group {
        display: block;
        width: 99%;
        margin: 10px auto;
    }

    #pokemon-type__dropdown {
        text-align: center;
        background-color: var(--secondary-color);
        font-size: var(--normal-font-size);
        margin-top: 60px;
    }
}
@media screen and (max-width: 750px) {
    main {
        margin: auto;
        width: 90%
    }
    .list__item {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    form {
        text-align: center;
    }

    #pokemon-type__dropdown {
        margin-top: 50px;
    }

    .navbar-brand {
        margin: 0;
        right: auto;
    }
}