

:root {
    --theme-spacing: 10px;
    --primary-color: #f05d5d;
    --primary-color-darker: #de2323;
    --background-color: #EAF2EF;
    --secondary-color: #2b6cb5;
    --secondar-color-darker: #1B356F;
    --text-color: #fff;

    --test-color1: #EAF2EF;
    --test-color2: #2b6cb5;
    --test-color3: #2B6CB5;
    --test-color4: #1B356F;
    --test-color5: #F05D5E;
}

body {
    background: var(--background-color);
    font-weight: 400;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

.page-header__item {
    flex: 0 1 50px;
}

.page-header__item:first-child {
    flex-shrink: 1;
    width: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list__item {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    padding: 5px 10px;
    text-align: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
}

p {
    font-size: 20px;
}

form {
    width: 100%;
}

.search-bar {
    margin-top:100px;
    width: 100%;
}

#searchbox {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    height: 30px;
    width: 200px;
}

#search-button,
#clear-filter-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    height: 30px;
    width: 100px;
    transition: background-color 0.2s ease-in-out;
}

#search-button:hover,
#clear-filter-button:hover {
    background-color: var(--secondar-color-darker);
}

.largeBeasts {
    font-weight: bold;
    color: var(--background-color);
}

.pokemon-list {
    width: 100%;
    list-style: none;
    padding-inline-start: 0px;
    margin: var(--theme-spacing) auto;
    text-align: center;
}

.list__item {
    display: inline-block;
    width: 30%;
    list-style: none;
    color: var(--text-color);
    text-align: center;
    min-height: auto;
    padding: 10px var(--theme-spacing);
    margin: var(--theme) auto;
}

.pokemon-tile {
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    border: none;
    color: var(--text-color);
}

.pokemon-tile:hover {
    background-color: var(--primary-color-darker);
}

@media screen and (max-width: 750px) {
    .list__item {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    form {
        text-align: center;
    }

    #searchbox,
    #search-button,
    #clear-filter-button {
        display: block;
        width: 99%;
        margin: 10px auto;
    }
    
}